createdAt: "2020-05-05T16:56:16.199Z"
updatedAt: "2020-05-05T16:56:31.034Z"
type: "MARKDOWN_NOTE"
folder: "8d270cf5fe5372764189"
title: "2.What is mongoose"
tags: []
content: "# 2.What is mongoose"
linesHighlighted: []
isStarred: false
isTrashed: false
