createdAt: "2020-05-06T13:27:26.267Z"
updatedAt: "2020-05-08T13:37:29.176Z"
type: "MARKDOWN_NOTE"
folder: "8d270cf5fe5372764189"
title: "How to start with ML?"
tags: []
content: '''
  - How to start with ML?
  - What is the best approach?
  - What are the resources?
  - Tell about yourself
'''
linesHighlighted: []
isStarred: false
isTrashed: true
