createdAt: "2020-05-05T17:00:46.618Z"
updatedAt: "2020-05-05T17:01:37.940Z"
type: "SNIPPET_NOTE"
folder: "8d270cf5fe5372764189"
title: "10.Making API better filtering,Advanced Filtering,Sorting,Limiting,Pagination"
tags: []
description: "10.Making API better filtering,Advanced Filtering,Sorting,Limiting,Pagination"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: false
