createdAt: "2021-01-26T02:26:12.736Z"
updatedAt: "2021-01-26T02:26:12.736Z"
type: "MARKDOWN_NOTE"
folder: "8d270cf5fe5372764189"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
