createdAt: "2020-04-23T21:52:34.509Z"
updatedAt: "2020-04-23T21:57:36.765Z"
type: "MARKDOWN_NOTE"
folder: "df802e4285093bb3176c"
title: "12.STREAMS"
tags: []
content: '''
  # 12.STREAMS
  
  ![streams.png](:storage/56abacea-fb24-4e12-8eca-02901d2d26fe/2f47dc6d.png)
  ![fundofstreams.png](:storage/56abacea-fb24-4e12-8eca-02901d2d26fe/b07ad607.png)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
