createdAt: "2020-05-02T13:12:37.475Z"
updatedAt: "2020-05-02T13:12:57.459Z"
type: "SNIPPET_NOTE"
folder: "002c47ea61b724725b76"
title: "5.How to create a model"
tags: []
description: "5.How to create a model"
snippets: [
  {
    linesHighlighted: []
    name: "tourModel.js"
    mode: "JavaScript"
    content: '''
      const mongoose = require('mongoose');
      
      const tourSchema = new mongoose.Schema({
        name: {
          type: String,
          required: [true, 'A tour must have name'],
          unique: true
        },
        rating: {
          type: String,
          default: 4.5
        },
        price: {
          type: String,
          required: [true, 'A tour must have price']
        }
      });
      module.exports = mongoose.model('Tour', tourSchema);
      
    '''
  }
]
isStarred: false
isTrashed: false
