createdAt: "2020-05-05T17:01:39.799Z"
updatedAt: "2020-05-05T17:01:47.728Z"
type: "SNIPPET_NOTE"
folder: "8d270cf5fe5372764189"
title: "11.Aliasing"
tags: []
description: "11.Aliasing"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: false
