createdAt: "2020-05-05T16:58:31.359Z"
updatedAt: "2020-05-08T13:37:39.681Z"
type: "MARKDOWN_NOTE"
folder: "8d270cf5fe5372764189"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
