createdAt: "2020-04-26T11:17:50.954Z"
updatedAt: "2020-04-27T00:34:13.748Z"
type: "MARKDOWN_NOTE"
folder: "3b4e100b76286074a898"
title: "4.GET and POST"
tags: []
content: '''
  # 4.GET and POST
  # GET 
  app.get('/api/v1/tours',(req,res)=>{
      res.status(200).json({
          status:"success",
          result: tours.length,
          data:{
              tours
          }
      })
  })
  # POST
  app.post('/api/v1/tours',(req,res)=>{
  
      const newId = tours[tours.length-1].id+1;
      const newTour = Object.assign({id:newId},req.body);
  
      tours.push(newTour);
  
      fs.writeFile(`./dev-data/data/tours-simple.json`,
      JSON.stringify(tours),
      err =>{
          res.status(201).json({
              status: 'success',
              data:{
                  tour: newTour
              }
          })
      }
      )
  })
'''
linesHighlighted: []
isStarred: false
isTrashed: false
