createdAt: "2020-05-05T17:00:27.282Z"
updatedAt: "2021-01-26T08:04:37.690Z"
type: "SNIPPET_NOTE"
folder: "8d270cf5fe5372764189"
title: "9.Importing Development data"
tags: []
description: "9.Importing Development data"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
