createdAt: "2020-05-05T16:57:43.383Z"
updatedAt: "2020-05-05T16:58:27.677Z"
type: "MARKDOWN_NOTE"
folder: "8d270cf5fe5372764189"
title: "5.Intro to Backend architecture MVC, Types of logic, and more"
tags: []
content: "# 5.Intro to Backend architecture MVC, Types of logic, and more"
linesHighlighted: []
isStarred: false
isTrashed: false
