createdAt: "2020-05-05T16:55:34.734Z"
updatedAt: "2020-05-05T16:56:09.019Z"
type: "MARKDOWN_NOTE"
folder: "8d270cf5fe5372764189"
title: "1.Connecting our Database with the express App"
tags: []
content: "# 1.Connecting our Database with the express App"
linesHighlighted: []
isStarred: false
isTrashed: false
