createdAt: "2020-04-22T15:35:14.750Z"
updatedAt: "2020-04-22T22:15:46.061Z"
type: "MARKDOWN_NOTE"
folder: "df802e4285093bb3176c"
title: "3.Event loop"
tags: []
content: '''
  # 3.Event loop
  -  Event loop is where all the application code that is inside callback function is executed.
  -  All the code that is not top level code will run in the event loop
  -  node js is build around callback function
  -  Node uses an event driven architecture
  -  Event loop does orchestration.![event_loop.png](:storage/899797e5-1162-4c6b-8ff7-6516c6bdd9a9/1168d724.png)
  # ex
  -  When our server recieving http request, Time expiry or a file finishing to read all this will emit event as soon as they are done with their work.Our event loop then picks up this event and call the callback function that are associated with each event.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
