createdAt: "2021-02-19T16:10:44.571Z"
updatedAt: "2021-02-19T16:22:55.830Z"
type: "MARKDOWN_NOTE"
folder: "9980a104cbe4399cdfd6"
title: "9.Email.js"
tags: []
content: '''
  ## 9.Email.js
  
  1. Intall node mailer
  2. const nodemailer = require('nodemailer');
  
  ```js
  const sendEmail = async  options => {
    //1) Create a Transporter
    // we will use mailtrap whch willl just fake sending the mail
    const transporter = nodemailer.createTransport({
      host: process.env.EMAIL_HOST,
      port:  process.env.EMAIL_PORT,
      auth: {
        user:  process.env.EMAIL_USERNAME,
        pass:  process.env.EMAIL_PASSWORD
      }
    })
    //2) Define the email options
    const mailOptions = {
      from: 'rposhan poddar <roshan@co.in>',
      to: options.email,
      subject: options.subject,
      text: options.message
      //html
    }
    //3) Actually send the email
    await transporter.sendMail(mailOptions)
  }
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
