createdAt: "2020-04-27T22:48:32.259Z"
updatedAt: "2020-04-27T22:54:59.885Z"
type: "SNIPPET_NOTE"
folder: "3b4e100b76286074a898"
title: "9.Creating our own middleware"
tags: []
description: "9.Creating our own middleware"
snippets: [
  {
    linesHighlighted: []
    name: "middleware.js"
    mode: "JavaScript"
    content: '''
      //Middleware will be called before any route is executed because middleware
      //we have used at top
      app.use((req,res,next)=>{
        console.log("hello to everyone");
        next();
      })
      app.get();
      // every other route
      
      //Now suppose we will be using middle after some route
      //So all the route before middleware doesnot include the middle in request comming to the route
      //So here req res cycle of the before route has been already completed
      app.get('x',(req,res))
      middleware
      app.post()
      //So for the first route it will never include the middleware
      //Order really matters in express
    '''
  }
]
isStarred: false
isTrashed: false
