createdAt: "2020-04-27T22:48:08.207Z"
updatedAt: "2020-04-27T22:48:29.865Z"
type: "MARKDOWN_NOTE"
folder: "3b4e100b76286074a898"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
