createdAt: "2020-05-05T17:01:51.837Z"
updatedAt: "2020-05-05T17:02:15.605Z"
type: "SNIPPET_NOTE"
folder: "8d270cf5fe5372764189"
title: "12.Refactoring Api feature"
tags: []
description: "12.Refactoring Api feature"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: false
