createdAt: "2020-04-27T01:20:28.345Z"
updatedAt: "2020-04-27T01:21:06.830Z"
type: "MARKDOWN_NOTE"
folder: "3b4e100b76286074a898"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
