createdAt: "2021-02-11T00:45:51.880Z"
updatedAt: "2021-02-11T00:45:59.706Z"
type: "MARKDOWN_NOTE"
folder: "df802e4285093bb3176c"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
