createdAt: "2020-05-05T16:59:14.877Z"
updatedAt: "2021-01-26T07:40:32.006Z"
type: "SNIPPET_NOTE"
folder: "8d270cf5fe5372764189"
title: "8.Reading,Updating,Deleting the tours"
tags: []
description: '''
  8.Reading,Updating,Deleting the tours
  
'''
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
