createdAt: "2020-05-12T12:31:53.823Z"
updatedAt: "2020-05-12T12:33:16.140Z"
type: "SNIPPET_NOTE"
folder: "9980a104cbe4399cdfd6"
title: "2.MANAGING THE PASSWORD"
tags: []
description: "2.MANAGING THE PASSWORD"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: '''
      // ADDING A VALIDATOR TO THE PASSWORDCONFIRM FIELD
      validate: {
            // This only works on the SAVE and CREATE!!
            validator: function(el) {
              return el === this.password;
            },
            message: 'The passwords are not the same'
          }
        }
      // ADDING A MOIDDLE WARE TO HASH THE PASSWORS TO SECURE
      userSchema.pre('save', async function(next) {
        // Only run this function if password is actually modified
        if (!this.isModified('password')) return next();
        // Hash the function at the cost of 12
        this.password = bcrypt.hash(this.password, 12);
        // Delete password confirm field
        this.passwordConfirm = undefined;
      
        next();
      });
    '''
  }
]
isStarred: false
isTrashed: false
