createdAt: "2020-05-12T12:31:53.823Z"
updatedAt: "2021-01-26T13:16:25.680Z"
type: "SNIPPET_NOTE"
folder: "9980a104cbe4399cdfd6"
title: "2.MANAGING THE PASSWORD"
tags: []
description: "2.MANAGING THE PASSWORD"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
