createdAt: "2020-05-02T13:13:09.401Z"
updatedAt: "2020-05-02T13:13:14.146Z"
type: "MARKDOWN_NOTE"
folder: "002c47ea61b724725b76"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
