createdAt: "2021-02-06T14:48:26.956Z"
updatedAt: "2021-02-06T15:01:34.569Z"
type: "MARKDOWN_NOTE"
folder: "bafa11d5550c02d05208"
title: "Primary Bottlenecks that Hurts Scalability of our Application."
tags: []
content: '''
  ## Primary Bottlenecks that Hurts Scalability of our Application.
  
  ##### Factors
  1. Database
  2. Application Architecture
  3. Not using caching in application wisely
  4. Inefficient Configuration and setup of load balancers
  5. Adding business logic to the database.
  6. Not picking the Right Database.
  7. At the Code level
  
  
  ####  Database
  
  Consider that, we have an application that appears to be well architected. Everything looks good. The workload runs on multiple nodes & has the ability to horizontally scale.
  
  But the database is a poor single monolith, just one server been given the onus of handling the data requests from all the server nodes of the workload.
  
  This scenario is a bottleneck. The server nodes work well, handle millions of requests at a point in time efficiently, still, the response time of these requests & the latency of the application is very high due to the presence of a single database. There is only so much it can handle.
  
  Just like the workload scalability, the database needs to be scaled well.
  
  Make wise use of database partitioning, sharding, use multiple database servers to make the module efficient.
  
  #### Application architecture
  
  A poorly designed application’s architecture can become a major bottleneck as a whole.
  
  A common architectural mistake is not using asynchronous processes & modules where ever required rather all the processes are scheduled sequentially.
  
  For instance, if a user uploads a document on the portal, tasks such as sending a confirmation email to the user, sending a notification to all of the subscribers/listeners to the upload event should be done asynchronously.
  
  These tasks should be forwarded to a messaging server as opposed to doing it all sequentially & making the user wait for everything.
  
  #### Not using caching in the application wisely
  
  Caching can be deployed in several layer of the application and it speeds the response time by notches.
  It intercepts all the requests going to the database, reducing the overall load in it.
  Use caching exhaustively throughout the application to speed up things significantly.
  
  #### Inefficient Configuration & Setup of Load Balancers #
  Load balancers are the gateway to our application. Using too many or too few of them impacts the latency of our application.
  
  #### Adding Business Logic to the Database #
  No matter what justification anyone provides, I’ve never been a fan of adding business logic to the database.
  
  The database is just not the place to put business logic. Not only it makes the whole application tightly coupled. It puts unnecessary load on it.
  
  Imagine when migrating to a different database, how much code refactoring it would require.
  
  #### Not Picking the Right Database #
  Picking the right database technology is vital for businesses. Need transactions & strong consistency? Pick a Relational Database. If you can do without strong consistency rather need horizontal scalability on the fly pick a NoSQL database.
  
  Trying to pull off things with a not so suitable tech always has a profound impact on the latency of the entire application in negative ways.
  
  #### At the Code Level #
  This shouldn’t come as a surprise but inefficient & badly written code has the potential to take down the entire service in production, which includes:
  
  Using unnecessary loops, nested loops.
  Writing tightly coupled code.
  Not paying attention to the Big-O complexity while writing the code. Be ready to do a lot of firefighting in production.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
