createdAt: "2021-02-26T17:55:56.346Z"
updatedAt: "2021-02-26T17:56:23.091Z"
type: "MARKDOWN_NOTE"
folder: "c02907027bc0250d0e43"
title: "Understanding DNS -Part1"
tags: []
content: '''
  # Understanding DNS -Part1
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
