createdAt: "2020-07-27T02:13:13.373Z"
updatedAt: "2020-07-27T02:31:53.263Z"
type: "MARKDOWN_NOTE"
folder: "45d4ab443987fc5aabe5"
title: "2.SINGLE TIER APPLICATIONS"
tags: []
content: '''
  # 2.SINGLE TIER APPLICATIONS
  - In single tier application the user interface , backend buisseness logic, database all resides in the same machine
  
  # Advantage
  - The main upside of single-tier applications is they have no network latency since every component is located on the same machine. This adds up to the performance of the software.
  - Data is highly secure
  # Disadvantage
  - One big downside of single-tier app is that the business has no control over the application. Once the software is shipped, no code or features changes can possibly be done until the customer manually updates it by connecting to the remote server or by downloading & installing a patch.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
