createdAt: "2021-02-26T06:03:34.433Z"
updatedAt: "2021-02-26T06:11:01.935Z"
type: "MARKDOWN_NOTE"
folder: "096d1539a5f693e0c2bf"
title: "15.GRAPH DATABASE"
tags: []
content: '''
  ## 15.GRAPH DATABASE
  #### What is a Graph database?
  
  Graph databases are also a part of the NoSQL database family. They store data in nodes/vertices and edges in the form of relationships.![graphDB.jpeg](:storage/6c603994-5b30-43e6-8fb9-2b3d15df3836/10938311.jpeg)
  
  Each Node in a graph database represents an entity. It can be a person, a place, a business etc. And the Edge represents the relationship between the entities.
  
  But, why use a graph database to store relationships when we already have SQL based relational databases available?
  
  #### Features of Graph Database?
  
  Primarily, two reasons. The first is visualization. Think of that pinned board in the thriller detective movies where the pins are pinned on a board over several images connected via threads. It does help in visualizing how the entities are related & how things fit together. Right?
  
  The second reason is the low latency. In graph databases, the relationships are stored a bit differently from how the relational databases store relationships.
  
  Graph databases are faster as the relationships in them are not calculated at the query time, as it happens with the help of joins in the relational databases. Rather the relationships here are persisted in the data store in the form of edges and we just have to fetch them. No need to run any sort of computation at the query time.
  
  A good real-life example of an application which would fit a graph database is Google Maps. Nodes represent the cities and the Edges represent the connection between them.
  
  Now, if I have to look for roads between different cities, I don’t need joins to figure out the relationship between the cities when I run the query. I just need to fetch the edges which are already stored in the database.
  
  #### When Do I Pick A Graph Database? #
  Ideal use cases of graph databases are building social, knowledge, network graphs. Writing AI-based apps, recommendation engines, fraud analysis app, storing genetic data etc.
  
  Graph databases help us visualize our data with minimum latency. A popular graph database used in the industry is Neo4J.
  
  #### Real Life Implementations #
  - Here are some of the real-life implementations of the tech listed below -
  
  - Walmart shows product recommendations to its customers in real-time using Neo4J graph database
  
  NASA uses Neo4J to store “lessons learned” data from their previous missions to educate the scientists & engineers.
'''
linesHighlighted: [
  21
]
isStarred: false
isTrashed: false
