createdAt: "2021-02-06T12:59:43.761Z"
updatedAt: "2021-02-06T12:59:43.761Z"
type: "MARKDOWN_NOTE"
folder: "1d1f092683d13caaa6da"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
