createdAt: "2021-02-06T15:08:28.902Z"
updatedAt: "2021-02-13T02:05:21.100Z"
type: "MARKDOWN_NOTE"
folder: "bafa11d5550c02d05208"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
