createdAt: "2020-06-26T16:49:06.116Z"
updatedAt: "2020-06-26T16:49:13.454Z"
type: "MARKDOWN_NOTE"
folder: "bc599e07a63f382e8207"
title: "MENU ITEM"
tags: []
content: '''
  # MENU ITEM
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
