createdAt: "2020-06-24T17:11:33.076Z"
updatedAt: "2020-06-24T20:37:06.536Z"
type: "SNIPPET_NOTE"
folder: "2ed7cc66630a218edbb2"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: false
