createdAt: "2020-06-26T16:47:04.199Z"
updatedAt: "2020-06-26T16:48:04.490Z"
type: "MARKDOWN_NOTE"
folder: "bc599e07a63f382e8207"
title: "COLLECTION ITEM"
tags: []
content: "# COLLECTION ITEM"
linesHighlighted: []
isStarred: false
isTrashed: false
