createdAt: "2020-06-26T16:48:22.448Z"
updatedAt: "2020-06-26T16:48:41.004Z"
type: "MARKDOWN_NOTE"
folder: "bc599e07a63f382e8207"
title: "CUSTOM DIRECTORY"
tags: []
content: '''
  # CUSTOM DIRECTORY
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
