createdAt: "2020-06-26T16:48:44.255Z"
updatedAt: "2020-06-26T16:48:55.998Z"
type: "MARKDOWN_NOTE"
folder: "bc599e07a63f382e8207"
title: "FORM INPUT"
tags: []
content: '''
  # FORM INPUT
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
