createdAt: "2020-06-25T16:42:09.387Z"
updatedAt: "2020-06-25T19:08:23.993Z"
type: "MARKDOWN_NOTE"
folder: "6b8df50b964f3be78956"
title: "1.BASICS"
tags: []
content: '''
  ## 1.BASICS
  - Firebase is a mobile and web app development platform that provides developers with a plethora of tools and services to help them develop high-quality apps, grow their user base, and earn more profit.
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
