createdAt: "2020-06-26T16:46:50.283Z"
updatedAt: "2020-06-26T16:46:59.734Z"
type: "MARKDOWN_NOTE"
folder: "bc599e07a63f382e8207"
title: "FORM COMPONENT"
tags: []
content: "# FORM COMPONENT"
linesHighlighted: []
isStarred: false
isTrashed: false
