createdAt: "2020-06-26T16:48:07.165Z"
updatedAt: "2020-06-26T16:48:19.813Z"
type: "MARKDOWN_NOTE"
folder: "bc599e07a63f382e8207"
title: "COLLECTION PREVIEW"
tags: []
content: "# COLLECTION PREVIEW"
linesHighlighted: []
isStarred: false
isTrashed: false
