createdAt: "2020-06-24T17:21:30.958Z"
updatedAt: "2020-06-24T17:21:57.749Z"
type: "MARKDOWN_NOTE"
folder: "2ed7cc66630a218edbb2"
title: "trying"
content: '''
  ## trying
  
'''
tags: []
isStarred: false
isTrashed: true
