createdAt: "2020-05-18T09:31:47.895Z"
updatedAt: "2020-05-18T09:41:04.122Z"
type: "MARKDOWN_NOTE"
folder: "10c5962858d7c39854ae"
title: "TEST CASE"
tags: []
content: '''
  ## TEST CASE
  1.Check when it is last updated
  2.give the date and check how many rotation
  3.connection status
'''
linesHighlighted: []
isStarred: false
isTrashed: false
