createdAt: "2020-04-11T22:34:01.625Z"
updatedAt: "2020-06-18T03:55:15.080Z"
type: "SNIPPET_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "3.Let const and Var ex"
tags: []
description: '''
  3.Let const and Var ex
  
'''
snippets: [
  {
    linesHighlighted: []
    name: "ex.js"
    mode: "JavaScript"
    content: ""
  }
]
isStarred: false
isTrashed: true
