createdAt: "2020-04-11T23:05:15.459Z"
updatedAt: "2020-06-18T03:59:50.736Z"
type: "SNIPPET_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "7.ARROW"
tags: []
description: "7.ARROW"
snippets: [
  {
    linesHighlighted: []
    name: "arrow.js"
    mode: "JavaScript"
    content: ""
  }
]
isStarred: false
isTrashed: true
