createdAt: "2020-04-11T22:48:54.015Z"
updatedAt: "2020-06-18T03:58:28.332Z"
type: "SNIPPET_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "4.Data privacy in ES5 and ES6"
tags: []
description: "4.Data privacy in ES5 and ES6"
snippets: [
  {
    linesHighlighted: []
    name: "iife6.js"
    mode: "JavaScript"
    content: ""
  }
]
isStarred: false
isTrashed: true
