createdAt: "2020-04-12T00:14:14.946Z"
updatedAt: "2020-04-12T00:14:57.683Z"
type: "SNIPPET_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "11.Array"
tags: []
description: "11.Array"
snippets: [
  {
    linesHighlighted: []
    name: "array.js"
    mode: "JavaScript"
    content: '''
      // Lecture: Arrays
      
      
      const boxes = document.querySelectorAll('.box');
      
      //ES5
      var boxesArr5 = Array.prototype.slice.call(boxes);
      boxesArr5.forEach(function(cur) {
          cur.style.backgroundColor = 'dodgerblue';
      });
      
      //ES6
      const boxesArr6 = Array.from(boxes);
      Array.from(boxes).forEach(cur => cur.style.backgroundColor = 'dodgerblue');
      
      
      //ES5
      for(var i = 0; i < boxesArr5.length; i++) {
          
          if(boxesArr5[i].className === 'box blue') {
              continue;
          }
          
          boxesArr5[i].textContent = 'I changed to blue!';
          
      }
      
      
      //ES6
      for (const cur of boxesArr6) {
          if (cur.className.includes('blue')) {
              continue;
          }
          cur.textContent = 'I changed to blue!';
      }
      
      
      
      
      //ES5
      var ages = [12, 17, 8, 21, 14, 11];
      
      var full = ages.map(function(cur) {
          return cur >= 18;
      });
      console.log(full);
      
      console.log(full.indexOf(true));
      console.log(ages[full.indexOf(true)]);
      
      
      //ES6
      console.log(ages.findIndex(cur => cur >= 18));
      console.log(ages.find(cur => cur >= 18));
    '''
  }
]
isStarred: false
isTrashed: false
