createdAt: "2020-04-12T10:29:23.026Z"
updatedAt: "2020-04-12T10:29:48.554Z"
type: "MARKDOWN_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "16.Classes Pending"
tags: []
content: "# 16.Classes Pending"
linesHighlighted: []
isStarred: false
isTrashed: false
