createdAt: "2020-04-11T07:22:26.256Z"
updatedAt: "2020-04-11T07:22:30.426Z"
type: "SNIPPET_NOTE"
folder: "c19e83a1679ed0fb1302"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
