createdAt: "2020-04-27T22:41:35.830Z"
updatedAt: "2020-04-27T22:41:45.631Z"
type: "MARKDOWN_NOTE"
folder: "6426ad25abcc6829d9eb"
title: "Calculator app"
tags: []
content: '''
  # Calculator app
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
