createdAt: "2020-06-18T04:14:28.980Z"
updatedAt: "2020-06-18T04:14:51.933Z"
type: "MARKDOWN_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "8.DESTRUCTRING"
tags: []
content: '''
  # 8.DESTRUCTRING
  ```js
  // Lecture: Destructuring
  
  // ES5
  var john = ['John', 26];
  //var name = john[0];
  //var age = john[1];
  
  
  // ES6
  const [name, age] = ['John', 26];
  console.log(name);
  console.log(age);
  
  const obj = {
      firstName: 'John',
      lastName: 'Smith'
  };
  
  const {firstName, lastName} = obj;
  console.log(firstName);
  console.log(lastName);
  
  const {firstName: a, lastName: b} = obj; //if we dont want to use the same name as the key
  console.log(a);
  console.log(b);
  
  
  
  function calcAgeRetirement(year) {
      const age = new Date().getFullYear() - year;
      return [age, 65 - age];
  }
  
  
  const [age2, retirement] = calcAgeRetirement(1990);
  console.log(age2);
  console.log(retirement);
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
