createdAt: "2020-04-11T12:25:15.146Z"
updatedAt: "2020-04-11T12:25:19.699Z"
type: "MARKDOWN_NOTE"
folder: "c19e83a1679ed0fb1302"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
