createdAt: "2020-04-14T18:06:18.896Z"
updatedAt: "2020-04-14T18:07:32.583Z"
type: "MARKDOWN_NOTE"
folder: "dc2a561bbf1f258a101a"
title: "5.MVC"
tags: []
content: '''
  # 5.MVC
  
  ![mvc.png](:storage/57304449-fdc6-490f-816c-27be7ef9fba9/57406939.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
