createdAt: "2021-02-28T08:20:50.578Z"
updatedAt: "2021-02-28T08:21:31.466Z"
type: "MARKDOWN_NOTE"
folder: "0d8a962cb2866810e30b"
title: "Questions and Answers"
tags: []
content: '''
  ## Questions and Answers
  
  Q. Difference between arrow function and normal functtion?
'''
linesHighlighted: []
isStarred: false
isTrashed: false
