createdAt: "2020-04-19T07:11:17.486Z"
updatedAt: "2020-04-19T07:14:49.838Z"
type: "MARKDOWN_NOTE"
folder: "dc2a561bbf1f258a101a"
title: "Data-"
tags: []
content: '''
  # Data-
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
