createdAt: "2020-06-25T20:46:48.903Z"
updatedAt: "2020-06-25T20:47:26.356Z"
type: "MARKDOWN_NOTE"
folder: "6426ad25abcc6829d9eb"
title: "Cookies vs LocalStorage vs Session storage"
tags: []
content: '''
  # Cookies vs LocalStorage vs Session storage
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
