createdAt: "2020-04-11T07:22:13.904Z"
updatedAt: "2020-04-11T07:22:24.160Z"
type: "MARKDOWN_NOTE"
folder: "c19e83a1679ed0fb1302"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
