createdAt: "2020-06-18T03:57:27.994Z"
updatedAt: "2020-06-18T03:57:46.537Z"
type: "MARKDOWN_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "4.Data privacy"
tags: []
content: '''
  # 4.Data privacy
  ```js
  //New ways to create data privacy or generating iife
  //By just giving {}
  // ES6
  {
      const a = 1;
      let b = 2;
      var c = 3;
  }
  
  //console.log(a + b); //error
  console.log(c); //3 because for var keywor it doesnot matter wether it is inside block or not.
  
  
  // ES5
  (function() {
      var c = 3;
  })();
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
