createdAt: "2020-04-14T18:57:57.901Z"
updatedAt: "2020-04-14T19:27:33.039Z"
type: "MARKDOWN_NOTE"
folder: "dc2a561bbf1f258a101a"
title: ""
tags: []
content: '''
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
