createdAt: "2020-04-12T11:27:52.931Z"
updatedAt: "2020-04-12T11:29:11.921Z"
type: "SNIPPET_NOTE"
folder: "671f471a29ab48d9e7dc"
title: "6.Async and await"
tags: []
description: "6.Async and await"
snippets: [
  {
    linesHighlighted: []
    name: "aa.js"
    mode: "JavaScript"
    content: '''
      const getIDs = new Promise((resolve, reject) => {
                  setTimeout(() => {
                      resolve([523, 883, 432, 974]);
                  }, 1500);
              });
      
      async function getRecipesAW() {
                  const IDs = await getIDs;
                  console.log(IDs);
                  const recipe = await getRecipe(IDs[2]);
                  console.log(recipe);
                  const related = await getRelated('Jonas Schmedtmann');
                  console.log(related);
      
                  return recipe;
              }
              getRecipesAW().then(result => console.log(`${result} is the best ever!`));
              
        //Async always returns promise.
    '''
  }
]
isStarred: false
isTrashed: false
