createdAt: "2020-04-11T23:48:50.170Z"
updatedAt: "2020-06-18T04:15:01.029Z"
type: "SNIPPET_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "10.Destructuring"
tags: []
description: "10.Destructuring"
snippets: [
  {
    linesHighlighted: []
    name: "Destructuring.js"
    mode: "JavaScript"
    content: ""
  }
]
isStarred: false
isTrashed: true
