createdAt: "2020-04-10T03:31:48.509Z"
updatedAt: "2020-04-10T03:37:36.599Z"
type: "MARKDOWN_NOTE"
folder: "28bd03cc4b3ef98da605"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
