createdAt: "2020-04-12T11:41:05.651Z"
updatedAt: "2020-04-12T11:42:23.326Z"
type: "MARKDOWN_NOTE"
folder: "dc2a561bbf1f258a101a"
title: "1.Modern js : A brief overview"
tags: []
content: '''
  # 1.Modern js : A brief overview
  
  ![webpack.png](:storage/b3fad33f-333b-4cde-a09d-f969a9478e01/55c2e1bc.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
