createdAt: "2020-04-11T23:13:09.108Z"
updatedAt: "2020-06-18T04:14:07.016Z"
type: "SNIPPET_NOTE"
folder: "5a0c8d8f45a5e708fc1e"
title: "9.Arrow"
tags: []
description: "9.Arrow"
snippets: [
  {
    linesHighlighted: []
    name: "Arrow.js"
    mode: "JavaScript"
    content: ""
  }
]
isStarred: false
isTrashed: true
