createdAt: "2020-04-12T11:31:44.925Z"
updatedAt: "2020-04-12T11:34:51.123Z"
type: "MARKDOWN_NOTE"
folder: "671f471a29ab48d9e7dc"
title: "7.What are AJAX and API's"
tags: []
content: '''
  # 7.What are AJAX and API's
  ![Ajax.png](:storage/d9d255dc-2078-442c-b8f9-94276441d640/d59cd8fd.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
