createdAt: "2020-04-11T12:25:21.651Z"
updatedAt: "2020-06-16T14:51:10.210Z"
type: "SNIPPET_NOTE"
folder: "c19e83a1679ed0fb1302"
title: "Call,Apply,Bind"
tags: []
description: "Call,Apply,Bind"
snippets: [
  {
    linesHighlighted: []
    name: "cab.js"
    mode: "JavaScript"
    content: '''
      
      
    '''
  }
]
isStarred: false
isTrashed: true
