createdAt: "2020-04-11T07:44:13.355Z"
updatedAt: "2020-04-11T07:44:32.975Z"
type: "MARKDOWN_NOTE"
folder: "c19e83a1679ed0fb1302"
title: "Prototype chain"
tags: []
content: "#Prototype chain"
linesHighlighted: []
isStarred: false
isTrashed: false
